<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Registrar Operación Cuenta | BancAndes</title>

     <!-- core CSS -->
    <link href="{{ static_url("css/bootstrap.min.css")}}" rel="stylesheet">
    <link href="{{ static_url("css/font-awesome.min.css")}}" rel="stylesheet">
    <link href="{{ static_url("css/prettyPhoto.css")}}" rel="stylesheet">
    <link href="{{ static_url("css/animate.min.css")}}" rel="stylesheet">
    <link href="{{ static_url("css/main.css")}}" rel="stylesheet">
    <link href="{{ static_url("css/responsive.css")}}" rel="stylesheet">

    <!--[if lt IE 9]>’’’
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static_url("images/ico/apple-touch-icon-144-precomposed.png")}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static_url("images/ico/apple-touch-icon-114-precomposed.png")}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static_url("images/ico/apple-touch-icon-72-precomposed.png")}}">
    <link rel="apple-touch-icon-precomposed" href="{{ static_url("images/ico/apple-touch-icon-57-precomposed.png")}}">
    
    <!-- core CSS -->
<!--
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
-->
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
<!--
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
-->
</head>
<!--/head-->

<body>

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number">
                            <p><i class="fa fa-phone-square"></i> +0123 456 70 90</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                        <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        

                        

                        

                        

                        

                        <li><a href="/logout">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->
    </header>
    <!--/header-->

    <section id="contact-info">
        <div class="center">


        </div>

    </section>
    <!--/gmap_area -->

    <section id="contact-page">
        <div class="container">
            <div class="center">
                <h2>Operación sobre cuenta</h2>
                <p class="lead">En esta sección, puede realizar cualquier operación valida sobre cualquier cuenta que le pertenezca.</p>
            </div>
            <div class="row contact-wrap">
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form" name="contact-form" method="post">
                    <input id="cambiar" type=hidden name="cambiar" value="">
                    <script>
                        function consignar() {
                            debugger;
                            document.getElementById("consignar").style.display = "inherit";
                            document.getElementById("retirar").style.display = "none";
                            document.getElementById("consOtra").style.display = "none";
                        }

                        function retirar() {
                            document.getElementById("consignar").style.display = "none";
                            document.getElementById("retirar").style.display = "inherit";
                            document.getElementById("consOtra").style.display = "none";
                        }
                        function consOtra(){
                            document.getElementById("consignar").style.display = "none";
                            document.getElementById("retirar").style.display = "none";
                            document.getElementById("consOtra").style.display = "inherit";
                        }

                        function cons() {
                            debugger;
                            document.getElementById("cambiar").value = "consignar";
                            document.getElementById("montoRet").value = "0";
                            document.getElementById("montoConsig").value = "0";
                            document.getElementById("origen").value = "0";
                        }

                        function ret() {
                            document.getElementById("cambiar").value = "retirar";
                            document.getElementById("montoCons").value = "0";
                            document.getElementById("montoConsig").value = "0";
                            document.getElementById("origen").value = "0";
                        }
                        
                        function ori() {
                            document.getElementById("cambiar").value = "origen";
                            document.getElementById("montoCons").value = "0";
                            document.getElementById("montoRet").value = "0";
                        }
                    </script>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div>
                            <h2>Escoja una de sus cuentas:</h2>
                            <div class="form-group">
                                <select class="form-control" id="sel1" required name="cuenta">
                                    <option></option>
                                    {% for cuenta in cuentas%}
                                    <option value="{{cuenta.numero}}">{{escape(str(cuenta.numero))}}</option>
                                    {% end %}
                                </select>
                            </div>
                            <!---<button class="btn btn-default">Abrir Cuenta</button>
                            <button class="btn btn-default">Cerrar Cuenta</button>--->
                            <a class="btn btn-default" onclick="consignar()">Consignar Monto en efectivo</a>
                            <a class="btn btn-default" onclick="retirar()">Retirar Monto</a>
                            <a class="btn btn-default" onclick="consOtra()">Consignar desde cuenta BancAndes</a>

                        </div>

                        <br>
                        <br>
                        <div id="consignar" style="display:none" class="form-group">
                            <label>Monto a consignar:</label>
                            <input type="text" name="montoCons" id="montoCons" class="form-control" required="required">
                            <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required" onclick="cons()">Consignar</button>
                        </div>
                        <div id="retirar" style="display:none" class="form-group">
                            <label>Monto a retirar:</label>
                            <input type="text" name="montoRet" id="montoRet" class="form-control" required="required">
                            <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required" onclick="ret()">Retirar</button>
                        </div>
                        <div id="consOtra" style="display:none" class="form-group">
                            <label>Monto a consignar:</label>
                            <input type="text" name="montoConsig" id="montoConsig" class="form-control" required="required">
                            <label>Cuenta origen:</label>
                            <select class="form-control" id="origen" name="origen">
                                    <option></option>
                                    {% for cuenta in cuentas%}
                                    <option value="{{cuenta.numero}}">{{escape(str(cuenta.numero))}}</option>
                                    {% end %}
                                </select>
                            <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required" onclick="ori()">Transferir</button>
                        </div>


                        <br>

                    </div>

                </form>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <!--/#contact-page-->

    <section id="bottom">
        

    </section>
    <!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->
<!--  
    <script src="{{ static_url("js/maps.js")}}"></script>-->
    <script src="{{ static_url("js/jquery.js")}}"></script>
    <script src="{{ static_url("js/bootstrap.min.js")}}"></script>
    <script src="{{ static_url("js/jquery.prettyPhoto.js")}}"></script>
    <script src="{{ static_url("js/jquery.isotope.min.js")}}"></script>
    <script src="{{ static_url("js/main.js")}}"></script>
    <script src="{{ static_url("js/wow.min.js")}}"></script>
    <!--  
    <script src="{{ static_url("js/selector.js")}}"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/1.5.6/jquery.smooth-scroll.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/locales/bootstrap-datepicker.es.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
</body>

</html>